
    <div ng-if="checkPlannedInLesson" class="unavailable-lesson-popover">
        Hier moet nog een verzet optie komen.
    </div>

    <div ng-if="!checkPlannedInLesson">

        <div ng-if="overlap" class="col-xs-12 has-error">
            Deze tijd is al in geplanned. Selecteer a.u.b. een andere tijd.
        </div>
        <div class="clear"></div>

        <div class="col-xs-12 no-padding first-form-group form-group">

          <label class="col-xs-4">⁠⁠⁠Undervisning:</label>

          <span class="triangle-select"></span>
          <select ng-init="lesson = lessons[0]"
                  ng-model="lesson" class="col-xs-8"
                  ng-options="lesson as lesson.Name for lesson in lessons track by lesson.Id"
                  ng-change="GetValueLessonTypeDropdown()">
          </select>

        </div>

        <div class="clear"></div>

        <div class="col-xs-12 no-padding form-group">
          <label class="col-xs-4">⁠⁠⁠Tid:</label>
          <input readonly ng-model="time_start" class="col-xs-4 form-control-time form-control-time-first" type="text" placeholder="">
          <input readonly ng-model="time_end" class="col-xs-4 form-control-time" type="text" placeholder="">
        </div>

        <div class="clear"></div>

        <div class="col-xs-12 no-padding form-group">
          <label class="col-xs-4">⁠⁠⁠Dato:</label>
          <input readonly class="col-xs-8" type="text" placeholder="" ng-model="date_popup">
        </div>

        <div class="clear"></div>

        <div class="col-xs-12 no-padding form-group">
          <label class="col-xs-4">⁠⁠⁠Lærer:</label>
          <input readonly ng-model="theSelectedTeacher" class="col-xs-8" type="text" placeholder="">
        </div>

        <div class="clear"></div>

        <div class="col-xs-12 no-padding form-group">
            <label class="col-xs-4">Duur:</label>
            <span class="triangle-select"></span>
            <select ng-init="duration = durations[0]"
                    ng-model="duration" class="col-xs-8"
                    ng-options="duration as duration.Name for duration in durations track by duration.Id"
                    ng-change="GetValueDurationDropdown()">
            </select>
        </div>

        <div class="clear"></div>

        <div class="col-xs-12 no-padding form-group">
          <button ng-click="bookLesson()" class="btn btn-primary col-xs-8 col-xs-push-4">Book din lektion</button>
        </div>

        <div class="clear"></div>
    </div>
