/**
 * Meyer Reset
 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * SCSS Functions
 */
/**
 * SCSS Mixins
 */
/**
 * Responsive Shapes
 */
.responsive-circle {
  border-radius: 50%;
  text-align: center;
  font-size: 48px;
  padding: 41.665% 0;
  line-height: 0;
  position: relative;
  background: #ffffff;
  color: #000000;
  font-family: Oswald, sans-serif; }

.responsive-circle-5 {
  border-radius: 50%;
  text-align: center;
  font-size: 48px;
  padding: 20.83% 0;
  line-height: 0;
  position: relative;
  background: #ffffff;
  color: #000000;
  font-family: Oswald, sans-serif; }

/**
 * Buttons
 */
.cta-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 1rem Open Sans, sans-serif;
  padding: 7px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #ffffff !important;
  border: none;
  border-bottom: solid 4px #946a0f;
  background: #e7a618; }
  .cta-button:hover {
    cursor: pointer;
    text-decoration: none;
    background: #f4ab0b; }
  .cta-button:active {
    position: relative;
    top: 1px;
    color: #faad05; }

.cta-button-icon {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 1rem Open Sans, sans-serif;
  padding: 7px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #ffffff !important;
  border: none;
  border-bottom: solid 4px #946a0f;
  background: #e7a618; }
  .cta-button-icon .fa {
    position: relative;
    top: 1px;
    margin-right: 8px; }
  .cta-button-icon:hover {
    cursor: pointer;
    text-decoration: none;
    background: #f4ab0b; }
  .cta-button-icon:active {
    position: relative;
    top: 1px;
    color: #faad05; }

.cta-border-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 1rem Open Sans, sans-serif;
  padding: 7px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 2px;
  color: #000000 !important;
  border: solid 3px #e7a618;
  background: transparent; }
  .cta-border-button:hover {
    cursor: pointer;
    color: #ffffff !important;
    text-decoration: none;
    background: #f4ab0b; }
  .cta-border-button:active {
    position: relative;
    top: 1px;
    color: #faad05; }

.btn-label .glyphicon {
  position: relative;
  top: 2px;
  padding-right: 8px; }

.btn-icon-only .glyphicon {
  font-size: 1rem;
  padding: 3px 0px; }

.btn-remove-form {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 1rem Open Sans, sans-serif;
  padding: 7px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 2px;
  color: #ffffff !important;
  border: solid 3px #e7a618;
  background: transparent; }
  .btn-remove-form:hover {
    cursor: pointer;
    color: #ffffff !important;
    text-decoration: none;
    background: #f4ab0b; }
  .btn-remove-form:active {
    position: relative;
    top: 1px;
    color: #faad05; }

.btn-add-form {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 1rem Open Sans, sans-serif;
  padding: 7px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 2px;
  color: #ffffff !important;
  border: solid 3px #e7a618;
  background: transparent; }
  .btn-add-form:hover {
    cursor: pointer;
    color: #ffffff !important;
    text-decoration: none;
    background: #f4ab0b; }
  .btn-add-form:active {
    position: relative;
    top: 1px;
    color: #faad05; }

/**
 * Links
 */
.link {
  color: #e7a618;
  text-decoration: none !important; }
  .link:visited {
    color: #e7a618;
    text-decoration: none !important; }
  .link:hover {
    color: #000000;
    text-decoration: none !important; }
  .link:active {
    color: #000000;
    text-decoration: none !important; }

/**
*Admin Dashboard
*/
#aanbod-content {
  font-size: 1.6rem;
  line-height: 2rem;
  color: black;
  font-weight: bold;
  padding: 50px 30px 30px 30px;
  text-align: center; }

#aanbod-content h3 {
  float: left;
  margin-bottom: 10px; }

#aanbod-content .cta-button-icon {
  position: relative;
  top: -5px;
  margin-left: 15px; }

#aanbod-content #aanbod-items-wrapper {
  padding: 50px 0px; }

#aanbod-content #aanbod-items-wrapper a {
  color: black; }

#aanbod-content .single-aanbod-item {
  background-size: cover;
  padding-bottom: 66.667%;
  border-radius: 5px !important; }

#aanbod-content h4 {
  padding: 2px 0px 20px 0px;
  font-size: 1rem;
  font-weight: normal;
  text-align: center; }

#aanbod-content .zoom {
  cursor: pointer;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

#aanbod-content .zoom:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

#aanbod-content .zoom:hover h4 {
  color: #e7a618; }

/**
 * GENERAL CSS
 */
body, html {
  width: 100%;
  height: 100%;
  background-color: #21282e;
  overflow-x: hidden; }

.no-border-top {
  border-top: none !important; }

.no-padding {
  padding: 0 !important; }

.no-padding-left {
  padding-left: 0 !important; }

.no-padding-right {
  padding-right: 0 !important; }

.no-margin-header {
  margin: 0 !important; }

.clear {
  clear: both; }

/**
 * GENERAL HTML Styles
 */
b {
  font-weight: bold; }

ul {
  list-style-type: disc; }

blockquote {
  font-size: 1.4rem;
  font-family: Oswald, sans-serif; }
  blockquote .fa {
    font-weight: normal;
    padding: 5px 5px; }

.gap {
  margin-top: 30px; }

.gap-10 {
  margin-top: 10px; }

.gap-15 {
  margin-top: 15px; }

.gap-20 {
  margin-top: 20px; }

table {
  font-family: Open Sans, sans-serif;
  line-height: 1.4rem; }

table th {
  background-color: #e7a618;
  color: #ffffff;
  font-weight: bold; }

table td {
  vertical-align: middle !important; }

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #0F1317;
  color: #ffffff; }

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #0a0e10;
  color: #ffffff; }

.table > tbody > tr > th, .table > tbody > tr > td {
  border: none; }

/**
 * Typography
 */
h1, h2, h3, h4, h5, h6 {
  font-family: Oswald, sans-serif;
  color: #ffffff; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3.5rem; }

h3 {
  font-size: 3rem; }

h4 {
  font-size: 2.5rem; }

h5 {
  font-size: 2rem; }

h6 {
  font-size: 1.5rem; }

p, li {
  font-family: Open Sans, sans-serif;
  line-height: 1.4rem;
  color: #ffffff; }

/**
 * Form Styling
 */
.search-wrapper {
  margin: 30px 0px 10px 0px; }

.stylish-input-group .input-group-addon {
  background: white !important; }

.stylish-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc;
  font-family: Open Sans, sans-serif; }

.stylish-input-group button {
  border: 0;
  background: transparent; }

.custom-height-omschrijving {
  height: 80px !important; }

label, input, textarea {
  font-family: Open Sans, sans-serif; }

label {
  font-weight: bold;
  padding-bottom: 5px; }

.cstm-alert {
  text-align: center;
  padding: 10px 15px; }

/**
 * Default Admin Styles
 */
div.center {
  text-align: center;
  font-size: 1.4rem; }

.pagination ul {
  display: block;
  float: left; }

.pagination li {
  display: block;
  float: left;
  width: 40px !important;
  height: 43px !important;
  padding: 0 !important;
  font-size: 1.4rem !important;
  margin: 0px 5px !important; }

.pagination li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px !important;
  padding: 0 !important; }

.pagination li a {
  border-radius: 50%; }

.pagination li a:first-child {
  border-radius: 100%; }

.pagination li a:last-child {
  border-radius: 100%; }

.pagination .active {
  color: #ffffff;
  background-color: #337ab7; }

.total {
  font-size: 1rem;
  line-height: 1.4rem;
  text-align: center; }

.default-styles {
  font-family: Open Sans, sans-serif;
  line-height: 1.4rem; }

.default-wrapper {
  padding: 20px 20px; }

.default-wrapper:last-child {
  border-bottom: 1px solid #ebebeb; }

.default-wrapper h1 {
  text-align: left !important;
  margin: 0 !important; }

.default-wrapper h4 {
  margin: 10px 0px 30px 0px; }

.default-wrapper h4 {
  padding-bottom: 3px; }

.default-wrapper h5 {
  padding-bottom: 5px; }

.default-wrapper ul {
  padding-left: 15px; }

.highlight-wrapper {
  border-bottom: none !important;
  border-top: none !important;
  background-color: #f8f8f8;
  font-family: Open Sans, sans-serif;
  line-height: 1.4rem; }

.highlight {
  position: absolute;
  left: 0;
  top: 0;
  width: 7px;
  height: 100%;
  background-color: #e7a618; }

.highlight-green {
  background-color: #009e30; }

@media screen and (min-width: 1400px) {
  .admin-container {
    display: block;
    float: left;
    width: 100%;
    max-width: 1200px; } }
/**
 * Navigation
 */
.left-admin-bar {
  position: fixed;
  background-image: url("../img/dashboard-background.jpg");
  background-position: center;
  background-size: cover;
  height: 100%; }

.left-admin-bar h4 {
  margin-top: 20px;
  margin-bottom: 30px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  text-shadow: 3px 3px 5px #000000; }

nav ul {
  font-family: "Open Sans";
  background-color: #202020;
  list-style-type: none; }

nav ul li {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #1a1a1a; }

nav ul li .active {
  position: absolute;
  float: left;
  width: 5px;
  height: 40px;
  background-color: #e7a618; }

nav ul li .fa {
  padding-right: 15px;
  width: 30px;
  height: 30px; }

nav ul li:last-child {
  border-bottom: none; }

nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #ffffff;
  padding: 0px 10px 0px 20px; }

nav ul li a:hover {
  color: #ffffff;
  background-color: #272727;
  text-decoration: none; }

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 140px;
  height: 100%;
  background-color: rgba(16, 18, 19, 0.9);
  z-index: 9999;
  box-shadow: 0 0 5px 0 #000000; }

.nav-wrapper .the-artist {
  width: 90px;
  left: 22.5px;
  border-radius: 100%;
  padding-top: 90px;
  margin: 20px 0 0 0;
  background-size: cover;
  background-position: center; }

.nav-wrapper .artist-name {
  color: #e7a618;
  font-family: Oswald, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  display: block;
  padding: 10px 0 30px 0; }

.nav-wrapper .nav-menu-artist li {
  list-style-type: none; }

.nav-wrapper .nav-menu-artist a:first-child {
  border-top: 1px solid #242424; }

.nav-wrapper .nav-menu-artist a {
  display: block;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #242424; }

.nav-wrapper .nav-menu-artist a:hover {
  text-decoration: none;
  background-color: #000000; }

.nav-wrapper .nav-menu-artist a li .glyphicon {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  left: -3px; }

.nav-wrapper .nav-menu-artist a li .nav-item {
  display: block;
  font-family: Oswald, sans-serif;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  padding-top: 10px; }

.nav-wrapper .logout-btn {
  display: block;
  background-color: #e7a618;
  border: 3px solid #b98513;
  margin: 20px auto 0 auto; }

.nav-wrapper .nav-menu-artist .active {
  background-color: #000000;
  border-top: 1px solid #000000 !important;
  border-bottom: 1px solid #000000 !important; }

/**
 * Custom Styling
 */
.right-admin-bar {
  padding: 0px 60px 100px 60px; }

.right-admin-bar h1 {
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center; }

.modal {
  font-family: Open Sans, sans-serif; }

.alert > ul {
  margin-left: 15px; }

.the-login-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%); }

.the-login-wrapper label {
  color: #333; }

.background-login-wrapper {
  width: 100%;
  height: 100%;
  background-image: url("../img/dashboard-background.jpg");
  background-size: cover; }

#reset-password {
  display: block;
  float: right;
  margin: 10px 0px;
  padding: 0;
  text-align: right; }

/**
 * Media Library
 */
figure.item {
  display: block;
  float: left;
  display: inline-block;
  text-align: center; }

#media-gallery-modal .my-image {
  margin-bottom: 10px; }

#media-gallery-modal figcaption {
  color: #000000; }

.my-caption {
  float: left;
  display: inline-block;
  width: 100%;
  color: white;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.dropzone {
  border: 2px dashed #e7a618 !important;
  border-radius: 5px;
  background-color: #f8f8f8 !important; }

.dz-default {
  font-family: Open Sans, sans-serif;
  font-size: 1.2rem; }

.media-gallery-image {
  display: block;
  float: left;
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  background-position: center; }

.media-gallery-image:hover {
  cursor: pointer; }

.custom-modal .modal-dialog {
  width: 85% !important; }

.custom-modal .modal-dialog h4 {
  text-align: center; }

.custom-modal .default-wrapper:last-child {
  border-bottom: 0 !important; }

.custom-modal .default-wrapper {
  border-top: 0 !important; }

.custom-modal .modal-footer {
  border-top: 0 !important; }

.custom-modal .media-gallery-image-popup {
  border: 2px solid #e5e5e5 !important; }

.custom-modal .media-gallery-image-popup:hover {
  cursor: pointer;
  background-color: #e7a618; }

.custom-modal .modal-content {
  overflow-y: scroll; }

.media-highlighted-image {
  height: 500px; }

.media-right-bar {
  padding-top: 20px !important;
  height: 500px;
  background-color: #f8f8f8; }

.media-right-bar h6 {
  color: #000000; }

.media-right-bar label {
  color: #000000; }

.btn-wrap-media {
  margin-top: 10px; }

/**
 * Pagination
 */
.pagination > li > a {
  background-color: #0a0e10;
  border: 1px solid #040506;
  color: #ffffff; }

/**
 * Forms
 */
label {
  color: #ffffff; }

/**
 * My Custom CSS
 */
.factuur-wrapper {
  color: #ffffff; }

.total {
  color: #ffffff; }

.my-list-of-names {
  display: block;
  float: left;
  background-color: #ffffff;
  list-style-type: none; }

.my-list-of-names li {
  color: #000000;
  padding: 20px 15px; }

.teacher-info-wrapper, .student-view-wrapper {
  color: #ffffff; }

/**
 * Custom Teacher Admin
 */
.background-image-teacher {
  background-image: url("../img/dashboard-background.jpg");
  background-size: cover; }

.teacher-content-wrapper {
  display: block;
  float: left;
  width: 100%;
  padding: 0 15px 0 195px; }

.dashboard-wrapper {
  margin-top: 30px;
  padding-bottom: 50px; }

.time-until-next-lesson-box {
  padding: 90px 0px;
  background-image: url("../img/time-remaining.jpg");
  background-size: cover;
  background-position: center center;
  font-size: 3rem;
  font-family: Oswald;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: inset 0px 0px 0 2000px rgba(0, 0, 0, 0.2), 0px 0px 5px 2px #000;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 0px 2px 2px #000; }

.time-until-next-lesson-time {
  background-color: rgba(16, 18, 19, 0.6);
  border-right: 1px solid #1B1515;
  padding-bottom: 15px; }

.circle {
  border-radius: 100%;
  background-color: #FFF;
  font-size: 3rem;
  color: #000000;
  font-family: Oswald;
  text-align: center;
  margin-top: 20px;
  font-weight: bold; }

.time-text {
  text-align: center;
  font-size: 1.6rem;
  color: #FFFFFF;
  font-family: Oswald;
  padding-top: 10px;
  padding-bottom: 10px; }

.shadow-for-time {
  box-shadow: 0px 0px 5px 2px #000000; }

.statistics-wrapper {
  border-right: none;
  box-shadow: 0px 0px 5px 0px #000000; }

.statistics {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0px 2px 2px #000;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  font-family: Oswald;
  padding-top: 24%;
  height: 200px;
  background-size: cover;
  background-position: center center; }

.statistics-box .circle {
  position: relative;
  left: 27.5%; }

.lessons-followed {
  background-image: url("../img/lessons.jpg"); }

.statistics-wrapper .favorite-genres {
  background-image: url("../img/genres.jpg"); }

.statistics-wrapper .favorite-genres-text {
  height: 170px;
  color: #FFFFFF;
  line-height: 170px;
  font-size: 2rem;
  font-family: Oswald;
  text-align: center;
  padding-top: 0 !important; }

.statistics-wrapper .time-until-next-lesson-time {
  height: 170px;
  padding-top: 20px; }

.table-content .head-item {
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 1rem;
  text-align: center;
  padding: 15px 0px;
  background-color: #000000; }

.table-content .sub-item {
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 0.8rem;
  text-align: center;
  padding: 15px 0px; }

.table-content .verzet-les-btn {
  background-color: #000000;
  border: 1px solid #000000;
  padding: 5px 0px;
  position: absolute;
  top: 9px;
  left: 10px;
  font-size: 0.7rem; }

.table-content .table-row {
  border-bottom: 1px solid #000000; }

.time-until-next-lesson-time .responsive-circle {
  margin-top: 20px; }

.teacher-content-wrapper .default-wrapper:last-child {
  border-bottom: none; }

.teacher-item {
  background-color: rgba(16, 18, 19, 0.6); }

.ui-widget-header {
  height: 50px; }

#gallery {
  float: left;
  min-height: 12em;
  width: 100%; }

.gallery.custom-state-active {
  background: #eee; }

.gallery li {
  float: left;
  width: 96px;
  padding: 0.4em;
  margin: 0.4em 0.4em 0.4em 0;
  text-align: center;
  z-index: 99; }

.gallery li h5 {
  margin: 0 0 0.4em;
  cursor: move; }

.gallery li a {
  float: right; }

.gallery li a.ui-icon-zoomin {
  float: left; }

.gallery li img {
  width: 100%;
  cursor: move; }

#trash {
  float: left;
  min-height: 12em;
  width: 100%; }

.trash.custom-state-active {
  background: #eee; }

.trash li {
  float: left;
  width: 96px;
  padding: 0.4em;
  margin: 0.4em 0.4em 0.4em 0;
  text-align: center;
  z-index: 99; }

.trash li h5 {
  margin: 0 0 0.4em;
  cursor: move; }

.trash li a {
  float: right; }

.trash li a.ui-icon-zoomin {
  float: left; }

.trash li img {
  width: 100%;
  cursor: move; }

@media screen and (min-width: 1400px) {
  .teacher-content-wrapper {
    display: block;
    float: left;
    width: 100%;
    max-width: 1200px; } }
/**
 * Custom Bootstrap
 */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.col-xs-5ths {
  width: 20%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left; } }
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left; } }
@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left; } }

/*# sourceMappingURL=admin_style.css.map */
