
/**
 * Meyer Reset
 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * SCSS Functions
 */
$header-font: Oswald, sans-serif;
$paragraph-font: Open Sans, sans-serif;
$primary-color: #e7a618;
$main-background-color: #21282e;
$darken-main-background-color: #1c2227;
$white-color: #ffffff;
$black-color: #000000;

/**
 * SCSS Mixins
 */
@mixin gap($margin_top) {
  margin-top: $margin_top;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin button($background-color, $text-color, $border: false, $icon: false) {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 1rem $paragraph-font;
  padding: 7px 15px;
  @include border-radius(3px);
  @include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.2));

  @if $border {
    position: relative;
    top: 2px;
    color: $text-color !important;
    border: solid 3px $background-color;
    background: transparent;
    &:hover {
      cursor: pointer;
      color: $white-color !important;
      text-decoration: none;
      background: saturate($background-color, 10%);
    }
    &:active {
      position: relative;
      top: 1px;
      color: saturate($background-color, 15%);
    }
  } @else {
    @if $icon{
      .fa {
        position: relative;
        top: 1px;
        margin-right: 8px;
      }
    }
    color: $text-color !important;
    border: none;
    border-bottom: solid 4px darken($background-color, 18%);
    background: $background-color;
    &:hover {
      cursor: pointer;
      text-decoration: none;
      background: saturate($background-color, 10%);
    }
    &:active {
      position: relative;
      top: 1px;
      color: saturate($background-color, 15%);
    }
  }

}

@mixin gradient($from, $to) {
  background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background: -moz-linear-gradient(top,  $from, $to);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}

@mixin link($link, $visit, $hover, $active) {
  color: $link;
  text-decoration: none !important;
  &:visited {
    color: $visit;
    text-decoration: none !important;
  }
  &:hover {
    color: $hover;
    text-decoration: none !important;
  }
  &:active {
    color: $active;
    text-decoration: none !important;
  }
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin responsive_circle($width) {
  border-radius:50%;
  text-align:center;
  font-size: 48px;
  padding:($width / 2) 0;
  line-height:0;
  position:relative;
  background: $white-color;
  color: $black-color;
  font-family: $header-font;
}

/**
 * Responsive Shapes
 */
.responsive-circle{
  @include responsive_circle(83.33%);
}
.responsive-circle-5{
  @include responsive_circle(41.66%);
}

/**
 * Buttons
 */
.cta-button{
  @include button($primary-color, $white-color, false);
}
.cta-button-icon{
  @include button($primary-color, $white-color, false, true);
}
.cta-border-button{
  @include button($primary-color, $black-color, true);
}
.btn-label .glyphicon{
  position: relative;
  top: 2px;
  padding-right: 8px;
}
.btn-icon-only .glyphicon{
  font-size: 1rem;
  padding: 3px 0px;
}
.btn-remove-form{
  @include button($primary-color, $white-color, true, true);
}
.btn-add-form{
  @include button($primary-color, $white-color, true, true);
}

/**
 * Links
 */
.link {
  @include link($primary-color, $primary-color, $black-color, $black-color);
}



/**
*Admin Dashboard
*/
#aanbod-content{
  font-size: 1.6rem;
  line-height: 2rem;
  color: black;
  font-weight: bold;
  padding: 50px 30px 30px 30px;
  text-align: center;
}
#aanbod-content h3{
  float: left;
  margin-bottom: 10px;
}
#aanbod-content .cta-button-icon{
  position: relative;
  top: -5px;
  margin-left: 15px;
}
#aanbod-content #aanbod-items-wrapper{
  padding: 50px 0px;
}

#aanbod-content #aanbod-items-wrapper a{
  color: black;
}
#aanbod-content .single-aanbod-item{
  background-size: cover;
  padding-bottom: 66.667%;
  border-radius: 5px !important;
}
#aanbod-content h4{
  padding: 2px 0px 20px 0px;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
}
#aanbod-content .aanbod-item{

}
#aanbod-content .zoom{
  cursor: pointer;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#aanbod-content .zoom:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#aanbod-content .zoom:hover h4{
  color: $primary-color;
}

/**
 * GENERAL CSS
 */
body,html{
  width: 100%;
  height: 100%;
  background-color: $main-background-color;
  overflow-x: hidden;
}
.no-border-top{
  border-top: none !important;
}
.no-padding{
  padding: 0 !important;
}
.no-padding-left{
  padding-left: 0 !important;
}
.no-padding-right{
  padding-right: 0 !important;
}
.no-margin-header{
  margin: 0 !important;
}
.clear{
  clear: both;
}

/**
 * GENERAL HTML Styles
 */
b{
  font-weight: bold;
}
ul{
  list-style-type: disc;
}
blockquote{
  font-size: 1.4rem;
  font-family: $header-font;
  .fa {
    font-weight: normal;
    padding: 5px 5px;
  }
}
.gap{
  @include gap(30px);
}
.gap-10{
  @include gap(10px);
}
.gap-15{
  @include gap(15px);
}
.gap-20{
  @include gap(20px);
}
table{
  font-family: $paragraph-font;
  line-height: 1.4rem;
}
table th{
  background-color: $primary-color;
  color: $white-color;
  font-weight: bold;
}
table td{
  vertical-align:middle !important;
}
.table-striped>tbody>tr:nth-of-type(odd){
  background-color: #0F1317;
  color: $white-color;
}
.table-striped>tbody>tr:nth-of-type(even){
  background-color: #0a0e10;
  color: $white-color;
}
.table>tbody>tr>th, .table>tbody>tr>td{
  border: none;
}

/**
 * Typography
 */
h1,h2,h3,h4,h5,h6{
  font-family: $header-font;
  color: $white-color;
}
h1{
  font-size: 4rem;
}
h2{
  font-size: 3.5rem;
}
h3{
  font-size: 3rem;
}
h4{
  font-size: 2.5rem;
}
h5{
  font-size: 2rem;
}
h6{
  font-size: 1.5rem;
}
p, li{
  font-family: $paragraph-font;
  line-height: 1.4rem;
  color: $white-color;
}

/**
 * Form Styling
 */
.search-wrapper{
  margin: 30px 0px 10px 0px;
}
.stylish-input-group .input-group-addon{
  background: white !important;
}
.stylish-input-group .form-control{
  border-right:0;
  box-shadow:0 0 0;
  border-color:#ccc;
  font-family: $paragraph-font;
}
.stylish-input-group button{
  border:0;
  background:transparent;
}
.custom-height-omschrijving{
  height: 80px !important;
}
label, input, textarea{
  font-family: $paragraph-font;
}
label{
  font-weight: bold;
  padding-bottom: 5px;
}
.cstm-alert{
  text-align: center;
  padding: 10px 15px;
}

/**
 * Default Admin Styles
 */
div.center {
  text-align: center;
  font-size: 1.4rem;
}
.pagination ul{
  display: block;
  float: left;
}
.pagination li{
  display: block;
  float: left;
  width: 40px !important;
  height: 43px !important;
  padding: 0 !important;
  font-size: 1.4rem !important;
  margin: 0px 5px !important;
}
.pagination li a{
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px !important;
  padding: 0 !important;
}
.pagination li a{
  border-radius: 50%;
}
.pagination li a:first-child{
  border-radius: 100%;
}
.pagination li a:last-child{
  border-radius: 100%;
}
.pagination .active{
  color: $white-color;
  background-color: #337ab7;
}
.total{
  font-size: 1rem;
  line-height: 1.4rem;
  text-align: center;
}
.default-styles{
  font-family: $paragraph-font;
  line-height: 1.4rem;
}
.default-wrapper{
  padding: 20px 20px;
}
.default-wrapper:last-child{
  border-bottom: 1px solid #ebebeb;
}
.default-wrapper h1{
  text-align: left !important;
  margin: 0 !important;
}
.default-wrapper h4{
  margin: 10px 0px 30px 0px;
}
.default-wrapper h4{
  padding-bottom: 3px;
}
.default-wrapper h5{
  padding-bottom: 5px;
}
.default-wrapper ul{
  padding-left: 15px;
}
.highlight-wrapper{
  border-bottom: none !important;
  border-top: none !important;
  background-color: #f8f8f8;
  font-family: $paragraph-font;
  line-height: 1.4rem;
}
.highlight{
  position: absolute;
  left: 0;
  top:0;
  width: 7px;
  height: 100%;
  background-color: $primary-color;
}
.highlight-green{
  background-color: #009e30;
}

@media screen and (min-width: 1400px) {
  .admin-container{
    display: block;
    float: left;
    width: 100%;
    max-width: 1200px;
  }
}



/**
 * Navigation
 */
.left-admin-bar{
  position: fixed;
  background-image: url("../img/dashboard-background.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
}
.left-admin-bar h4{
  margin-top: 20px;
  margin-bottom: 30px;
  color: $white-color;
  text-align: center;
  font-weight: bold;
  text-shadow: 3px 3px 5px $black-color;
}
nav ul{
  font-family: "Open Sans";
  background-color: #202020;
  list-style-type: none;
}
nav ul li{
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #1a1a1a;
}
nav ul li .active{
  position: absolute;
  float: left;
  width: 5px;
  height: 40px;
  background-color: $primary-color;
}
nav ul li .fa{
  padding-right: 15px;
  width: 30px;
  height: 30px;
}
nav ul li:last-child{
  border-bottom: none;
}
nav ul li a{
  display: block;
  width: 100%;
  height: 100%;
  color: $white-color;
  padding: 0px 10px 0px 20px;
}
nav ul li a:hover{
  color: $white-color;
  background-color: #272727;
  text-decoration: none;
}
.nav-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 140px;
  height: 100%;
  background-color: rgba(16, 18, 19, 0.9);
  z-index: 9999;
  box-shadow: 0 0 5px 0 #000000;
}
.nav-wrapper .the-artist{
  width: 90px;
  left: 22.5px;
  border-radius: 100%;
  padding-top: 90px;
  margin: 20px 0 0 0;
  background-size: cover;
  background-position: center;
}
.nav-wrapper .artist-name{
  color: $primary-color;
  font-family: $header-font;
  font-size: 1.2rem;
  text-align: center;
  display: block;
  padding: 10px 0 30px 0;
}
.nav-wrapper .nav-menu-artist li{
  list-style-type: none;
}
.nav-wrapper .nav-menu-artist a:first-child{
  border-top: 1px solid #242424;
}
.nav-wrapper .nav-menu-artist a{
  display: block;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #242424;
}
.nav-wrapper .nav-menu-artist a:hover{
  text-decoration: none;
  background-color: #000000;
}
.nav-wrapper .nav-menu-artist a li .glyphicon{
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  left: -3px;
}
.nav-wrapper .nav-menu-artist a li .nav-item{
  display: block;
  font-family: $header-font;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  padding-top: 10px;
}
.nav-wrapper .logout-btn{
  display: block;
  background-color: $primary-color;
  border: 3px solid darken($primary-color, 10%);
  margin: 20px auto 0 auto;
}
.nav-wrapper .nav-menu-artist .active{
  background-color: #000000;
  border-top: 1px solid #000000 !important;
  border-bottom: 1px solid #000000 !important;
}

/**
 * Custom Styling
 */
.right-admin-bar{
  padding: 0px 60px 100px 60px;
}
.right-admin-bar h1{
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center;
}
.modal{
  font-family: $paragraph-font;
}
.alert>ul{
  margin-left: 15px;
}
.the-login-wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
}
.the-login-wrapper label{
  color: #333;
}
.background-login-wrapper{
  width: 100%;
  height: 100%;
  background-image: url("../img/dashboard-background.jpg");
  background-size: cover;
}
#reset-password{
  display: block;
  float: right;
  margin: 10px 0px;
  padding: 0;
  text-align: right;
}

/**
 * Media Library
 */

figure.item {
  display: block;
  float: left;
 // width: 15%;
  display: inline-block;
  text-align: center;

}
#media-gallery-modal .my-image{
  margin-bottom: 10px;
}
#media-gallery-modal figcaption{
  color: $black-color;
}
.my-caption {
  float: left;
  display: inline-block;
  width: 100%;
  color: white;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dropzone{
  border: 2px dashed $primary-color !important;
  border-radius: 5px;
  background-color: #f8f8f8 !important;
}
.dz-default{
  font-family: $paragraph-font;
  font-size: 1.2rem;
}
.media-gallery-image{
  display: block;
  float: left;
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  background-position: center;
}
.media-gallery-image:hover{
  cursor: pointer;
}
.custom-modal .modal-dialog{
  width: 85% !important;
}
.custom-modal .modal-dialog h4{
  text-align: center;
}
.custom-modal .default-wrapper:last-child{
  border-bottom: 0 !important;
}
.custom-modal .default-wrapper{
  border-top: 0 !important;
}
.custom-modal .modal-footer{
  border-top: 0 !important;
}
.custom-modal .media-gallery-image-popup{
  border: 2px solid #e5e5e5 !important;
}
.custom-modal .media-gallery-image-popup:hover{
  cursor: pointer;
  background-color: $primary-color;
}
.custom-modal .modal-content{
  overflow-y: scroll;
}
.media-highlighted-image{
  height: 500px;
}
.media-right-bar{
  padding-top: 20px !important;
  height: 500px;
  background-color: #f8f8f8;
}
.media-right-bar h6{
  color: $black-color;
}
.media-right-bar label{
  color: $black-color;
}
.btn-wrap-media{
  margin-top: 10px;
}

/**
 * Pagination
 */
.pagination>li>a{
  background-color: #0a0e10;
  border: 1px solid #040506;
  color: $white-color;
}

/**
 * Forms
 */
label{
  color: $white-color;
}

/**
 * My Custom CSS
 */
.factuur-wrapper{
  color: $white-color;
}
.total{
  color: $white-color;
}
.my-list-of-names{
  display: block;
  float: left;
  background-color: $white-color;
  list-style-type: none;
}
.my-list-of-names li{
  color: $black-color;
  padding: 20px 15px;
}
.teacher-info-wrapper, .student-view-wrapper{
  color: $white-color;
}

/**
 * Custom Teacher Admin
 */
.background-image-teacher{
  background-image: url("../img/dashboard-background.jpg");
  background-size: cover;
}
.teacher-content-wrapper{
  display: block;
  float: left;
  width: 100%;
  padding: 0 15px 0 195px;
}
.dashboard-wrapper{
  margin-top: 30px;
  padding-bottom: 50px;
}
.time-until-next-lesson-box{
  padding: 90px 0px;
  background-image: url("../img/time-remaining.jpg");
  background-size: cover;
  background-position: center center;
  font-size: 3rem;
  font-family: Oswald;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.2), 0px 0px 5px 2px #000;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 0px 2px 2px #000;
}
.time-until-next-lesson-time{
  background-color: rgba(16,18,19, 0.6);
  border-right: 1px solid #1B1515;
  padding-bottom: 15px;
}
.circle{
  border-radius: 100%;
  background-color: #FFF;
  font-size: 3rem;
  color: #000000;
  font-family: Oswald;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
.time-text{
  text-align: center;
  font-size: 1.6rem;
  color: #FFFFFF;
  font-family: Oswald;
  padding-top: 10px;
  padding-bottom: 10px;
}
.shadow-for-time{
  box-shadow: 0px 0px 5px 2px #000000;
}
.statistics-wrapper{
  border-right: none;
  box-shadow: 0px 0px 5px 0px #000000;
}
.statistics{
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0px 2px 2px #000;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  font-family: Oswald;
  padding-top: 24%;
  height: 200px;
  background-size: cover;
  background-position: center center;
}
.statistics-box .circle{
  position: relative;
  left: 27.5%;
}
.lessons-followed{
  background-image: url("../img/lessons.jpg");
}
.statistics-wrapper .favorite-genres{
  background-image: url("../img/genres.jpg");
}
.statistics-wrapper .favorite-genres-text{
  height: 170px;
  color: #FFFFFF;
  line-height: 170px;
  font-size: 2rem;
  font-family: Oswald;
  text-align: center;
  padding-top: 0 !important;
}
.statistics-wrapper .time-until-next-lesson-time{
  height: 170px;
  padding-top: 20px;
}
.table-content .head-item{
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 1rem;
  text-align: center;
  padding: 15px 0px;
  background-color: #000000;
}
.table-content .sub-item{
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 0.8rem;
  text-align: center;
  padding: 15px 0px;
}
.table-content .verzet-les-btn{
  background-color: #000000;
  border: 1px solid #000000;
  padding: 5px 0px;
  position: absolute;
  top: 9px;
  left: 10px;
  font-size: 0.7rem;
}
.table-content .table-row{
  border-bottom: 1px solid #000000;
}
.time-until-next-lesson-time .responsive-circle{
  margin-top: 20px;
}
.teacher-content-wrapper .default-wrapper:last-child{
  border-bottom: none;
}
.teacher-item{
  background-color: rgba(16, 18, 19, 0.6);
}


.ui-widget-header{
  height: 50px;
}
 #gallery { float: left; min-height: 12em; width: 100%; }
  .gallery.custom-state-active { background: #eee; }
  .gallery li { float: left; width: 96px; padding: 0.4em; margin: 0.4em 0.4em 0.4em 0; text-align: center; z-index:99;}
  .gallery li h5 { margin: 0 0 0.4em; cursor: move; }
  .gallery li a { float: right; }
  .gallery li a.ui-icon-zoomin { float: left; }
  .gallery li img { width: 100%; cursor: move; }
 
 #trash { float: left; min-height: 12em; width: 100%; }
  .trash.custom-state-active { background: #eee; }
  .trash li { float: left; width: 96px; padding: 0.4em; margin: 0.4em 0.4em 0.4em 0; text-align: center; z-index:99;}
  .trash li h5 { margin: 0 0 0.4em; cursor: move; }
  .trash li a { float: right; }
  .trash li a.ui-icon-zoomin { float: left; }
  .trash li img { width: 100%; cursor: move; }




@media screen and (min-width: 1400px) {
  .teacher-content-wrapper{
    display: block;
    float: left;
    width: 100%;
    max-width: 1200px;
  }
}

/**
 * Custom Bootstrap
 */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}