/**
 *	INDEX:
 *
 *	0. DEFAULT STUFF / RESET
 *	1. GENERAL STYLING
 *	2. CUSTOM CSS
 *	3.
 *
 */
/**
 *	0. DEFAULT STUFF / RESET
 */
/* http://meyerweb.com/eric/tools/css/reset/
      v2.0 | 20110126
      License: none (public domain)
   */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  /* rule for everything */
  border-box: box-sizing; }

/**
 * SCSS Functions
 */
/**
 * SCSS Mixins
 */
/**
 * Responsive Shapes
 */
.responsive-circle {
  border-radius: 50%;
  text-align: center;
  font-size: 48px;
  padding: 41.665% 0;
  line-height: 0;
  position: relative;
  background: #ffffff;
  color: #000000;
  font-family: Oswald, sans-serif; }

.responsive-circle-5 {
  border-radius: 50%;
  text-align: center;
  font-size: 48px;
  padding: 20.83% 0;
  line-height: 0;
  position: relative;
  background: #ffffff;
  color: #000000;
  font-family: Oswald, sans-serif; }

/**
 * Buttons
 */
.cta-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 1rem Open Sans, sans-serif;
  padding: 7px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #ffffff !important;
  border: none;
  border-bottom: solid 4px #ad7907;
  background: #f6b11a; }
  .cta-button:hover {
    cursor: pointer;
    text-decoration: none;
    background: #ffb411; }
  .cta-button:active {
    position: relative;
    top: 1px;
    color: #ffb411; }

.cta-button-icon {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 1rem Open Sans, sans-serif;
  padding: 7px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #ffffff !important;
  border: none;
  border-bottom: solid 4px #ad7907;
  background: #f6b11a; }
  .cta-button-icon .fa {
    position: relative;
    top: 1px;
    margin-right: 8px; }
  .cta-button-icon:hover {
    cursor: pointer;
    text-decoration: none;
    background: #ffb411; }
  .cta-button-icon:active {
    position: relative;
    top: 1px;
    color: #ffb411; }

.cta-border-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 1rem Open Sans, sans-serif;
  padding: 7px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 2px;
  color: #000000 !important;
  border: solid 3px #f6b11a;
  background: transparent; }
  .cta-border-button:hover {
    cursor: pointer;
    color: #ffffff !important;
    text-decoration: none;
    background: #ffb411; }
  .cta-border-button:active {
    position: relative;
    top: 1px;
    color: #ffb411; }

.btn-label .glyphicon {
  position: relative;
  top: 2px;
  padding-right: 8px; }

.btn-icon-only .glyphicon {
  font-size: 1rem;
  padding: 3px 0px; }

.btn-remove-form {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 1rem Open Sans, sans-serif;
  padding: 7px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 2px;
  color: #000000 !important;
  border: solid 3px #f6b11a;
  background: transparent; }
  .btn-remove-form:hover {
    cursor: pointer;
    color: #ffffff !important;
    text-decoration: none;
    background: #ffb411; }
  .btn-remove-form:active {
    position: relative;
    top: 1px;
    color: #ffb411; }

.btn-add-form {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 1rem Open Sans, sans-serif;
  padding: 7px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 2px;
  color: #000000 !important;
  border: solid 3px #f6b11a;
  background: transparent; }
  .btn-add-form:hover {
    cursor: pointer;
    color: #ffffff !important;
    text-decoration: none;
    background: #ffb411; }
  .btn-add-form:active {
    position: relative;
    top: 1px;
    color: #ffb411; }

/**
 * Links
 */
.link {
  color: #f6b11a;
  text-decoration: none !important; }
  .link:visited {
    color: #f6b11a;
    text-decoration: none !important; }
  .link:hover {
    color: #000000;
    text-decoration: none !important; }
  .link:active {
    color: #000000;
    text-decoration: none !important; }

/**
 * GENERAL CSS
 */
body, html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #21282e; }

.no-border-top {
  border-top: none !important; }

.no-padding {
  padding: 0 !important; }

.no-padding-left {
  padding-left: 0 !important; }

.no-padding-right {
  padding-right: 0 !important; }

.no-margin-header {
  margin: 0 !important; }

.has-error {
  color: red;
  font-weight: bold; }

/**
 * GENERAL HTML Styles
 */
b {
  font-weight: bold; }

ul {
  list-style-type: disc; }

blockquote {
  font-size: 1.4rem;
  font-family: Oswald, sans-serif; }
  blockquote .fa {
    font-weight: normal;
    padding: 5px 5px; }

.clear {
  clear: both; }

.gap {
  margin-top: 30px; }

.gap-10 {
  margin-top: 10px; }

.gap-15 {
  margin-top: 15px; }

.gap-20 {
  margin-top: 20px; }

table {
  font-family: Open Sans, sans-serif;
  line-height: 1.4rem; }

table th {
  background-color: #f6b11a;
  color: #ffffff; }

table td {
  vertical-align: middle !important; }

/**
 * Typography
 */
h1, h2, h3, h4, h5, h6 {
  font-family: Oswald, sans-serif; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3.5rem; }

h3 {
  font-size: 3rem; }

h4 {
  font-size: 2.5rem; }

h5 {
  font-size: 2rem; }

h6 {
  font-size: 1.5rem; }

p, li {
  font-family: Open Sans, sans-serif;
  line-height: 1.4rem;
  color: #ffffff; }

.default-wrapper {
  padding: 20px 20px; }

.default-wrapper:last-child {
  border-bottom: 1px solid #ebebeb; }

.default-wrapper h1 {
  text-align: left !important;
  margin: 0 !important; }

.default-wrapper h4 {
  margin: 10px 0px 30px 0px; }

.default-wrapper h4 {
  padding-bottom: 3px; }

.default-wrapper h5 {
  padding-bottom: 5px; }

.default-wrapper ul {
  padding-left: 15px; }

.highlight-wrapper {
  border-bottom: none !important;
  border-top: none !important;
  background-color: #f8f8f8;
  font-family: Open Sans, sans-serif;
  line-height: 1.4rem;
  font-weight: bold;
  box-shadow: 0px 0px 25px 0px #000000; }

.highlight {
  position: absolute;
  left: 0;
  top: 0;
  width: 7px;
  height: 100%;
  background-color: #f6b11a; }

.highlight-green {
  background-color: #009e30; }

.fixed-highlight {
  position: fixed;
  top: 40%;
  z-index: 99999; }

/**
 * 	2. CUSTOM CSS
 */
.user-content-wrapper {
  display: block;
  float: left;
  width: 100%;
  padding: 0 15px 0 165px; }

#Homepage {
  overflow-y: hidden; }

.login-wrapper {
  background-image: url("../img/login-background.jpg");
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  background-position: center center; }

.background-student-image {
  background-image: url("../img/dashboard-background.jpg");
  background-size: cover; }

.login-content {
  padding-top: 100px; }

.login-box-wrapper {
  padding-bottom: 30px;
  background-color: rgba(16, 18, 19, 0.9); }

.login-box-wrapper h1 {
  font-size: 4rem;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px; }

.login-box-wrapper label {
  background-color: #0b0b0b;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-family: Open Sans;
  font-size: 1.2rem;
  color: #f6b11a;
  font-weight: bold;
  margin-bottom: 5px;
  border: 1px solid #000000; }

.login-box-wrapper input {
  height: 60px;
  line-height: 60px;
  padding: 0px 15px;
  border: none;
  margin-bottom: 5px;
  background-color: #000000;
  color: #FFFFFF;
  font-family: Open Sans; }

.login-box-wrapper button {
  background-color: #cf961c;
  border: none;
  font-size: 1.3rem;
  height: 55px;
  padding: 0px 10px;
  color: #000000;
  font-family: "Oswald";
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 4px solid #bd881b; }

.login-box-wrapper button:hover {
  cursor: pointer;
  background-color: #e4a51c;
  border-bottom: 4px solid #c9911d; }

.login-box-wrapper ::-webkit-input-placeholder {
  color: #e5e5e5; }

.login-box-wrapper :-moz-placeholder {
  /* Firefox 18- */
  color: #e5e5e5; }

.login-box-wrapper ::-moz-placeholder {
  /* Firefox 19+ */
  color: #e5e5e5; }

.login-box-wrapper :-ms-input-placeholder {
  color: #e5e5e5; }

.login-box-wrapper .login-form-buttons {
  margin-top: 40px; }

.login-box-wrapper .register-btn {
  background-color: #090807;
  border-bottom: 4px solid #000;
  box-shadow: 0px 1px 2px 0px #000;
  color: #ffffff; }

.login-box-wrapper .register-btn:hover {
  background-color: #181513;
  border-bottom: 4px solid #120f0d;
  box-shadow: 0px 1px 2px 0px #120f0d; }

.extra-info-login-box {
  padding: 100px 0px;
  padding-left: 30px;
  background-color: rgba(0, 0, 0, 0.9);
  height: 400px; }

.extra-info-login-box h2 {
  font-size: 2.5rem;
  text-transform: uppercase; }

.extra-info-login-box h3 {
  color: #5400ff;
  font-family: "Open Sans";
  font-style: italic;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding: 10px 0px; }

.extra-info-login-box ul {
  font-family: Open Sans;
  text-transform: uppercase;
  padding: 20px 20px; }

.extra-info-login-box ul li {
  list-style-type: disc;
  color: #FFFFFF;
  padding: 10px 10px; }

.dashboard-wrapper {
  background-position: center center; }

.dashboard-content {
  margin-top: 100px; }

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 140px;
  height: 100%;
  background-color: rgba(16, 18, 19, 0.9);
  z-index: 9999;
  box-shadow: 0 0 5px 0 #000000; }

.nav-wrapper .the-artist {
  width: 90px;
  left: 22.5px;
  border-radius: 100%;
  padding-top: 90px;
  margin: 20px 0 0 0;
  background-size: cover;
  background-position: center; }

.nav-wrapper .artist-name {
  color: #f6b11a;
  font-family: Oswald, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  display: block;
  padding: 10px 0 30px 0; }

.nav-wrapper .nav-menu-artist li {
  list-style-type: none; }

.nav-wrapper .nav-menu-artist a:first-child {
  border-top: 1px solid #242424; }

.nav-wrapper .nav-menu-artist a {
  display: block;
  width: 100%;
  padding: 8px 0;
  border-bottom: 1px solid #242424; }

.nav-wrapper .nav-menu-artist a:hover {
  text-decoration: none;
  background-color: #000000; }

.nav-wrapper .nav-menu-artist a li .glyphicon, .nav-wrapper .nav-menu-artist a li .fa {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  left: -3px; }

.nav-wrapper .nav-menu-artist a li .nav-item {
  display: block;
  font-family: Oswald, sans-serif;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  padding-top: 5px; }

.nav-wrapper .logout-btn {
  display: block;
  background-color: #f6b11a;
  border: 3px solid #d59508;
  margin: 20px auto 0 auto; }

.nav-wrapper .nav-menu-artist .active {
  background-color: #000000;
  border-top: 1px solid #000000 !important;
  border-bottom: 1px solid #000000 !important; }

.time-until-next-lesson-box {
  padding: 90px 0px;
  background-image: url("../img/time-remaining.jpg");
  background-size: cover;
  background-position: center center;
  font-size: 3rem;
  font-family: Oswald;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: inset 0px 0px 0 2000px rgba(0, 0, 0, 0.2), 0px 0px 5px 2px #000;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 0px 2px 2px #000; }

.time-until-next-lesson-time {
  background-color: rgba(16, 18, 19, 0.6);
  border-right: 1px solid #1B1515;
  padding-bottom: 15px; }

.time-until-next-lesson-time:last-child {
  border-right: none; }

.circle {
  border-radius: 100%;
  background-color: #FFF;
  font-size: 3rem;
  color: #000000;
  font-family: Oswald;
  text-align: center;
  margin-top: 20px;
  font-weight: bold; }

.time-text {
  text-align: center;
  font-size: 1.6rem;
  color: #FFFFFF;
  font-family: Oswald;
  padding-top: 10px;
  padding-bottom: 10px; }

.shadow-for-time {
  box-shadow: 0px 0px 5px 2px #000000; }

.statistics {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0px 2px 2px #000;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  font-family: Oswald;
  padding-top: 24%;
  height: 200px;
  background-size: cover;
  background-position: center center; }

.lessons-followed {
  background-image: url("../img/lessons.jpg"); }

.statistics-box .time-until-next-lesson-time {
  padding-bottom: 20px; }

.statistics-box .with-circle {
  padding-top: 20px; }

.statistics-box .circle {
  position: relative;
  left: 27.5%; }

.statistics-wrapper {
  border-right: none;
  box-shadow: 0px 0px 5px 0px #000000; }

.statistics-wrapper .favorite-genres {
  background-image: url("../img/genres.jpg"); }

.statistics-wrapper .favorite-genres-text {
  height: 170px;
  color: #FFFFFF;
  line-height: 170px;
  font-size: 2rem;
  font-family: Oswald;
  text-align: center; }

.right-content {
  margin-bottom: 60px; }

#Agenda .right-content {
  margin-bottom: 0px !important; }

#Agenda .next-lessons-box {
  margin-bottom: 20px; }

.loading-for-agenda {
  position: fixed;
  width: 200px;
  height: 150px;
  padding: 40px 0px;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  /* Negative half of height. */
  margin-left: -100px;
  /* Negative half of width. */
  background-color: #101010;
  color: #f6b11a;
  text-align: center;
  z-index: 9999;
  border-radius: 5px;
  border: 3px solid #000;
  box-shadow: 0px 0px 5px 0px #000000; }

.remove-default-btn {
  border: none;
  background-color: transparent;
  color: #ffffff;
  padding: 0; }

.loading-for-agenda .text {
  display: block;
  margin: 10px 0px;
  color: #ffffff; }

.statistics-row {
  margin-bottom: 30px; }

.table-content .head-item {
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 1rem;
  text-align: center;
  padding: 15px 0px;
  background-color: #000000; }

.table-content .sub-item {
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 0.8rem;
  text-align: center;
  padding: 15px 0px; }

.table-content .verzet-les-btn {
  background-color: #000000;
  border: 1px solid #000000;
  padding: 5px 0px;
  position: absolute;
  top: 9px;
  left: 10px;
  font-size: 0.7rem; }

.table-content .table-row {
  border-bottom: 1px solid #000000; }

.shop-wrapper {
  margin-top: 30px; }

.buy-btn {
  padding: 15px 0px;
  background-color: #f6b11a;
  border: none;
  box-shadow: 0px 0px 5px 2px #000;
  font-family: Oswald;
  color: #000; }

.mijn-lessen {
  background-image: url("../img/mijn-lessen.jpg"); }

.mijn-materiaal {
  background-image: url("../img/mijn-materiaal.jpg"); }

.mijn-betalingen {
  background-image: url("../img/mijn-betalingen.jpg"); }

.shop {
  background-image: url("../img/login-background.jpg"); }

.lessen {
  background-image: url("../img/lessen.jpg");
  height: 250px; }

.abonnementen {
  background-image: url("../img/abonnementen.jpg");
  height: 250px; }

.agenda-next-lesson {
  color: #ffffff;
  padding: 10px;
  border: 1px solid #000000 !important; }

.user-agenda-heading {
  padding: 40px 0px; }

.user-agenda-heading h2 {
  color: #ffb10a;
  padding-top: 10px;
  text-align: right;
  padding-right: 40px; }

.highlight {
  color: #ffb10a; }

.user-agenda-highlight-wrapper .round-shape .glyphicon {
  top: -3px; }

.user-agenda-highlight-wrapper .round-shape span {
  position: relative;
  top: -2px;
  font-weight: bold; }

.buttons-user-agenda .button {
  position: relative;
  top: 20px;
  text-shadow: none; }

.buttons-user-agenda .button:last-child {
  margin-left: 20px; }

.buttons-user-agenda .button {
  font-size: 1.4rem; }

.buttons-user-agenda .glyphicon {
  font-size: 2rem;
  position: relative;
  left: 10px;
  top: 2px; }

.user-agenda-highlight {
  background-color: #101010;
  color: #ffffff;
  padding: 30px 0px;
  text-align: center;
  min-height: 280px; }

.user-agenda-highlight .glyphicon {
  font-size: 8rem;
  color: #ffb10a; }

.user-agenda-highlight p {
  padding: 10px 10px 0px 10px;
  font-size: 1rem;
  font-weight: bold; }

.user-agenda-highlight .round-shape {
  line-height: 120px;
  font-size: 6rem; }

.user-agenda-highlight .round-shape .glyphicon {
  font-size: 4rem; }

.user-agenda-highlight h4 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-family: Oswald; }

.legenda-item {
  font-size: 0.8rem;
  text-align: center;
  padding: 10px 0px;
  font-weight: bold;
  border-bottom: 1px solid #171717; }

.legenda-item:first-of-type {
  border-top: 1px solid #171717; }

.the-agenda-buttons {
  margin-bottom: 30px; }

.agenda-info-wrapper {
  margin-bottom: 20px; }

.agenda {
  background-color: rgba(16, 18, 19, 0.6);
  margin-bottom: 150px; }

.agenda-day {
  color: #ffffff; }

.agenda-row:first-child .agenda-inner-row {
  border-bottom: none; }

.agenda-row:nth-child(23) .agenda-inner-row {
  border-bottom: 1px solid #777777; }

.agenda-row:last-child .agenda-inner-row {
  display: none; }

.agenda-inner-row {
  height: 30px;
  border-top: 1px solid #777777; }

.agenda-inner-row-item {
  height: 30px;
  border-right: 1px solid #39414f; }

.agenda-inner-row-item:hover {
  cursor: pointer;
  background-color: #f6b11a; }

.agenda-item {
  width: 95%;
  height: 20px;
  margin: 4px 5px; }

.agenda-time {
  font-family: Open Sans;
  font-size: 1rem;
  color: #ffffff;
  position: relative;
  top: -0.5em;
  right: 5px; }

.agenda-day {
  font-family: Open Sans;
  font-size: 1.2rem;
  background-color: #000000;
  padding: 15px 0px;
  text-align: center;
  border-right: 1px solid #39414f; }

.not-available {
  background-color: red; }

.vacation {
  color: #ffffff;
  height: 680px;
  position: relative;
  z-index: 2; }

.my-lesson-in-agenda {
  background-color: #f6b11a; }

.agenda-header-heading {
  margin-left: 25%; }

.agenda-btn-select-teacher {
  cursor: pointer;
  position: relative;
  margin-left: 20px;
  top: -12px;
  padding: 20px;
  background-color: #f6b11a;
  border: 3px solid #e8a718;
  font-size: 1rem;
  color: #000000;
  text-shadow: none; }

.agenda-btn-select-teacher:hover {
  background-color: #ffffff;
  border: 3px solid #f6f6f6;
  color: #000000; }

.agenda-btn-select-teacher-second {
  margin-left: 5px; }

.agenda-btn-select-teacher .glyphicon {
  font-size: 1rem;
  margin-left: 10px;
  position: relative; }

.popover {
  padding: 0;
  max-width: 400px;
  width: 400px;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2); }

.popover-title {
  padding: 15px 50px;
  font-size: 1.5em;
  font-weight: bold;
  font-family: Open Sans, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ffb10a;
  text-align: center; }

.popover-content {
  color: #000000;
  padding: 9px 25px; }

.first-form-group {
  margin-top: 15px; }

.popover input {
  border: 1px solid #e5e5e5;
  position: relative;
  top: -5px;
  border-radius: 3px;
  padding: 5px;
  color: #333; }

.form-control-time {
  width: 32%; }

.form-control-time-first {
  margin-right: 2.66%; }

.endtime {
  float: left;
  color: #ffffff;
  font-size: 0.8rem;
  padding: 5px 5px; }

.message {
  color: #ffffff;
  float: left;
  padding: 5px 0px;
  padding-left: 6px;
  font-size: 0.8rem; }

select {
  position: relative;
  top: -5px;
  padding: 6px;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

option {
  padding-left: 5px;
  padding-right: 5px; }

.triangle-select {
  position: absolute;
  top: 17%;
  right: 3%;
  z-index: 1;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #ffb10a transparent transparent; }

.btn-primary {
  background-color: #ffb10a;
  border: 1px solid #f5940a;
  font-size: 1em;
  font-family: Open sans, sans-serif; }

.btn-primary:hover {
  background-color: #030c1c;
  border: 1px solid #030009; }

.fourty-five-minutes {
  position: relative;
  height: 40px;
  z-index: 2; }

.fourty-five-minutes-quartar-30 {
  position: relative;
  height: 28px;
  top: -18px;
  z-index: 2; }

.fourty-five-minutes-quartar {
  position: relative;
  height: 40px;
  top: -18px;
  z-index: 2; }

.unavailable-lesson-popover {
  color: red;
  text-align: center;
  font-weight: bold; }

.the-login-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%); }

.background-login-wrapper {
  width: 100%;
  height: 100%;
  background-image: url("../img/dashboard-background.jpg");
  background-size: cover; }

#reset-password {
  display: block;
  float: right;
  margin: 10px 0px;
  padding: 0;
  text-align: right; }

.register-side .login-panel p {
  padding: 15px 15px 10px 15px;
  color: #000000;
  text-align: center;
  font-family: Oswald, sans-serif; }

.register-wrapper {
  height: 100%;
  background-color: #ffffff; }

.register-wrapper h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  padding: 20px 0px 30px 0px; }

/**
 * Custom CSS
 */
.time-until-next-lesson-time .responsive-circle {
  margin-top: 20px; }

#all-teachers {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2.2rem; }

#gallery {
  float: left;
  width: 65%;
  min-height: 12em; }

.gallery.custom-state-active {
  background: #eee; }

.gallery li {
  float: left;
  width: 96px;
  padding: 0.4em;
  margin: 0 0.4em 0.4em 0;
  text-align: center; }

.gallery li h5 {
  margin: 0 0 0.4em;
  cursor: move; }

.gallery li a {
  float: right; }

.gallery li a.ui-icon-zoomin {
  float: left; }

.gallery li img {
  width: 100%;
  cursor: move; }

#trash {
  float: right;
  width: 32%;
  min-height: 18em;
  padding: 1%; }

#trash h4 {
  line-height: 16px;
  margin: 0 0 0.4em; }

#trash h4 .ui-icon {
  float: left; }

#trash .gallery h5 {
  display: none; }

@media screen and (min-width: 1400px) {
  .user-content-wrapper {
    display: block;
    float: left;
    width: 100%;
    max-width: 1200px; } }
/**
 * Media Library
 */
figure.item {
  display: block;
  float: left;
  display: inline-block;
  text-align: center; }

#media-gallery-modal .my-image {
  margin-bottom: 10px; }

#media-gallery-modal figcaption {
  color: #000000; }

.my-caption {
  float: left;
  display: inline-block;
  width: 100%;
  color: white;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.dropzone {
  border: 2px dashed #f6b11a !important;
  border-radius: 5px;
  background-color: #f8f8f8 !important; }

.dz-default {
  font-family: Open Sans, sans-serif;
  font-size: 1.2rem; }

.media-gallery-image {
  display: block;
  float: left;
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  background-position: center; }

.media-gallery-image:hover {
  cursor: pointer; }

.custom-modal .modal-dialog {
  width: 85% !important; }

.custom-modal .modal-dialog h4 {
  text-align: center; }

.custom-modal .default-wrapper:last-child {
  border-bottom: 0 !important; }

.custom-modal .default-wrapper {
  border-top: 0 !important; }

.custom-modal .modal-footer {
  border-top: 0 !important; }

.custom-modal .media-gallery-image-popup {
  border: 2px solid #e5e5e5 !important; }

.custom-modal .media-gallery-image-popup:hover {
  cursor: pointer;
  background-color: #f6b11a; }

.custom-modal .modal-content {
  overflow-y: scroll; }

.media-highlighted-image {
  height: 500px; }

.media-right-bar {
  padding-top: 20px !important;
  height: 500px;
  background-color: #f8f8f8; }

.media-right-bar h6 {
  color: #000000; }

.media-right-bar label {
  color: #000000; }

.btn-wrap-media {
  margin-top: 10px; }

/**
 * Custom Bootstrap
 */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.col-xs-5ths {
  width: 20%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left; } }
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left; } }
@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left; } }

/*# sourceMappingURL=style.css.map */
